.space {
    padding: 50px 0 50px 0;
}

.card-c {
    padding-top: 20px;

    .card-comic {
        &-content {
            text-align: center;

            img {
                object-fit: none;
                object-position: top;
                width: 150px;
                max-height: 150px;
            }

            .series {
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
}
