.card-c {
    margin: 5px;

    .card-comic {
        &-content {
            text-align: center;

            img {
                object-fit: none;
                object-position: top;
                width: 150px;
                max-height: 150px;
            }

            .title {
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
}
