.card-comic {
    &-content {
        margin: 0 5px;
        text-align: center;
        padding: 10px;

        img {
            object-fit: none;
            object-position: top;
            width: 200px;
            max-height: 150px;
            margin-bottom: 1rem;
        }

        .title {
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}
