.content-img {
    background-color: $bg-color-blue;
    color: $bg-font-color;
    font-size: 30px;
    font-weight: 700;
    max-width: 250px;
    padding: 5px;
    z-index: 666;
    position: relative;
    top: -25px;
    left: 19%;
}
