//
// Comuni a tutti
@import "colors";
@import "fonts";

// Suddivisi per pagina
@import "header";
@import "sectionBlue";
@import "footer";

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", serif;
}

body {
    background-color: $bg-color;
    color: $bg-font-color;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}
