// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

//
// Comuni a tutti
@import "colors";
@import "fonts";

// Suddivisi per pagina
@import "header";
@import "sectionHeader";
@import "home";
@import "product";
@import "sectionBlue";
@import "footer";

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", serif;
}

#secBody {
    background-color: $bg-color;
    color: $bg-font-color;

    &.active {
        background-color: $bg-font-color;
        color: $bg-color-footer;
    }
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}
